{{>layout/header}}
<body onload="userCheck()">
<input type="hidden" id="blogger-no" value={{blogger.userNo}}>
<div class="row">
    {{#user}}
        <input type="hidden" id="user-no" value={{userNo}}>
        <a href="/user-page?no={{userNo}}" id="post-select">{{name}}님 방문을 환영합니다</a>
        <a href="/logout" class="btn btn-info active" role="button">로그 아웃</a>
    {{/user}}
    {{^user}}
        <a href="/login" class="btn btn-login" role="button">로그인</a>
        <a href="/signup" class="btn btn-signup" role="button">회원 가입</a>
    {{/user}}
</div>
<h1>{{blogger.blogName}}</h1>
<div>
    <a href="/user-page?no={{blogger.userNo}}">{{blogger.name}}</a>
</div>
<div class="col-md-12">
    <div>
        <span id="total-visit">방문자 총합 : {{visitCount.totalVisitCount}}</span>
        <span id="total-visit">금일 방문자 : {{visitCount.dailyVisitCount}}</span>
    </div>
    <div>
        <ul>
            <li><a href="/blog-page?no={{blogger.userNo}}">전체보기</li>
            {{#categories}}
            <li><a href="/blog-page?no={{blogger.userNo}}&upper-category={{upperCategoryNo}}">{{name}}</a>
                <ul>
                    {{#lowerCategoryVOList}}
                        <a href="/blog-page?no={{blogger.userNo}}&upper-category={{upperCategoryNo}}&lower-category={{lowerCategoryNo}}">{{name}}</a>
                    {{/lowerCategoryVOList}}
                </ul>
            </li>
            {{/categories}}
        </ul>
    </div>
    {{#post}}
        <input type="hidden" id="post-no" value={{postNo}}>
        <div class="form-group">
            <span>카테고리</span>
            <span><a href="/blog-page?no={{blogger.userNo}}">전체</a>/
            <a href="/blog-page?no={{blogger.userNo}}&{{upperCategoryVO.upperCategoryNo}}">{{upperCategoryVO.name}}</a>/
            <a href="/blog-page?no={{blogger.userNo}}&{{upperCategoryVO.upperCategoryNo}}&{{lowerCategoryVO.lowerCategoryNo}}">{{lowerCategoryVO.name}}</a>
        </span>
        </div>
        <table class="table table-horizontal table-bordered">
            <tbody class="thead-strong">
                <tr>
                    <th scope="row">글 번호</th>
                    <td id="postNo">{{postNo}}</td>
                    <th scope="row">조회수</th>
                    <td id="views">{{views}}</td>
                    <th scope="row">좋아요</th>
                    <td id="likedCount">{{likedCount}}</td>
                </tr>
                <tr>
                    <th scope="row">작성자</th>
                    <td id="postUserName">{{userVO.name}}</td>
                    <th scope="row">등록 날짜</th>
                    <td>{{modDt}}</td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td colspan="6">{{title}}</td>
                </tr>
            <tr>
                <td colspan="6" class="view_text">
                    <div>
                        {{#files}}
                            <img src="/upload/{{path}}">
                        {{/files}}
                        <p>{{content}}</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="post-liked" class="form-group"></div>
        <div id="post-button-selector"></div>
        <div class="form-group">
            <label for="comment">댓글</label>
            <div class="form-group">
                <textarea type="text" class="form-control" id="comment" placeholder="댓글을 입력하십시오"></textarea>
                <button type="button" class="btn btn-primary" id="btn-comment" onclick="commentSave()">댓글 등록</button>
                <div class="form-group">
                    {{#comments}}
                        <input type="hidden" name="comments-user-no" id="comments-user-no" value={{userVO.userNo}}>
                        <input type="hidden" name="comments-comment-no" id="comments-comment-no" value={{commentNo}}>
                        <div class="form-group" id="comment-{{commentNo}}">
                            <div>{{userVO.name}}  {{modDt}}</div><div id="btn-comment-update-{{commentNo}}"></div>
                            <div id="comment-{{commentNo}}-content">{{content}}</div>
                            <div id="btn-comment-selector-{{commentNo}}"></div>
                        </div>
                    {{/comments}}
                </div>
            </div>
        </div>
    {{/post}}
    {{^post}}
    <table class="table table-horizontal table-bordered" id="posts-table">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>등록 일자</th>
        </tr>
        </thead>
        <tbody id="comments-tbody">
            {{#posts}}
            <input type="hidden" name="open-state" id="posts-open-state" value={{openState}}>
            <tr>
                <td>{{postNo}}</td>
                <td><a href="/blog-page?no={{blogger.userNo}}&post={{postNo}}" id="post-select">{{title}}</td>
                <td>{{views}}</td>
                <td>{{regDt}}</td>
            </tr>
            {{/posts}}
        </tbody>
    </table>
    {{/post}}
</div>
<div id="btn-post-save"></div>
<a href="/">메인으로 가기</a>
<script src="/js/app/blogPage.js"></script>
{{>layout/footer}}