{{>layout/header}}
<body>
<a class="row">
    {{#user}}
        <a href="/user-page?no={{userNo}}" id="post-select">{{name}}님 방문을 환영합니다</a>
        <a href="/logout" class="btn btn-info active" role="button">로그 아웃</a>
    {{/user}}
    {{^user}}
        <a href="/login" class="btn btn-login" role="button">로그인</a>
        <a href="/signup" class="btn btn-signup" role="button">회원 가입</a>
    {{/user}}
<h1>블로그 서비스</h1>
<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>게시자</th>
            <th>블로그</th>
            <th>조회수</th>
            <th>등록 일자</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{postNo}}</td>
                <td><a href="/user-page?no={{userVO.userNo}}&post={{postNo}}" id="post-select">{{title}}</td>
                <td><a href="/user-page?no={{userVO.userNo}}" id="post-select">{{userVO.name}}</td>
                <td><a href="/blog-page?no={{userVO.userNo}}" id="blog-select">{{userVO.blogName}}</td>
                <td>{{views}}</td>
                <td>{{regDt}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <div class="form-group">
        <input type="text" id="keyword" placeholder="검색어 입력">
        <select id="keyword-select">
            <option value="title">제목</option>
            <option value="content">내용</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" id="btn-search" onclick="search()">검색</button>
</div>
<script src="/js/util/util.js"></script>
{{>layout/footer}}